
.root {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #0d1117;
}

.login-box, .signup-box {
    -fx-background-color: #FFF7;
    -fx-padding: 20;
}

.title-label {
    -fx-font-size: 24px;
    -fx-text-fill: #1f2937;
}

.text-field, .password-field {
    -fx-background-color: #F3F4F688;
    -fx-text-fill: #6FC276;
}

.primary-button {
    -fx-background-color: #6FC276;
    -fx-text-fill: #FFFFFF;
}

.secondary-button {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-border-color: #D1D5DB;;
}

.hyperlink {
    -fx-text-fill: #6FC276;
}

.hyperlink:hover {
    -fx-background-color: transparent;
    -fx-text-fill: #000;
}

.theme-toggle {
    -fx-background-color: transparent;
    -fx-text-fill: #0d1117;
}